<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body style="font-family: Arial, Helvetica, sans-serif;">
    <div style="display:flex;justify-content:start">
        <b>Convite de ${remetenteConvite}</b>
    </div>
    <p>Olá ${nome}, você foi convidado por ${remetenteConvite} à fazer parte da empresa ${empresa} e acompanhar toda a sua evolução.</p>
    <p>Caso decida aceitar, clique <a target="_blank" href="${link}">aqui</a> ou cole o endereço abaixo no seu
        navegador, para visualizar e aceitar o convite enviado.</p>
    <p>${link}</p>
</body>

</html>