<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body style="font-family: Arial, Helvetica, sans-serif;">
    <div style="display:flex;justify-content:start">
        <b>Solicitação de remoção de conta</b>
    </div>
    <p>Olá ${nome}, lamentamos saber que você deseja encerrar com sua conta no TimerDoc. Entendemos que isto foi
        realmente necessário então abaixo estará um link para confirmar a operação, assim que confirmar seus dados
        sensíveis serão descaracterizados da nossa base de dados para sua segurança.</p>
    <p>Caso esteja realmente de acordo com a exclusão de conta e abandono da plataforma, clique <a target="_blank"
            href="${link}">aqui</a> ou cole o endereço abaixo no seu
        navegador.</p>
    <p>${link}</p>
</body>

</html>