<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body style="font-family: Arial, Helvetica, sans-serif;">
    <div style="display:flex;justify-content:start">
        <b>Bem Vindo ao TimerDoc!</b>
    </div>
    <p>Seja bem vindo ao seu gerenciador de documentos e entregas. Estamos felizes em saber que o TimerDoc irá lhe
        auxiliar no seu dia-a-dia.</p>
    <p>Para completar seu cadastro, clique <a target="_blank" href="${link}">aqui</a> ou cole o endereço abaixo no seu
        navegador, crie
        uma senha e comece a utilizar nossos serviços.</p>
    <p>${link}</p>
</body>

</html>