<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body style="font-family: Arial, Helvetica, sans-serif;">
    <div style="display:flex;justify-content:start">
        <b>Recebemos seu pedido de ajuda!</b>
    </div>
    <p>Para recuperar sua senha e o acesso ao sistema, clique <a target="_blank" href="${link}">aqui</a> ou cole o
        endereço abaixo no seu
        navegador, digite sua nova palavra-passe e comece a utilizar nossos serviços.</p>
    <p>${link}</p>
</body>

</html>